/* -------------------this is last list menu ba footer section------------------------ */
.parent2 {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    background-color: plum;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.c {
    padding-left: 50px;
}

.ch31 {
    flex-wrap: wrap-reverse;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    letter-spacing: 15px;
}

.c1 {
    color: crimson;
}

.c2 {
    color: navy;
}

.c3 {
    color: red;
}

.c6 {
    color: red;
}

.c8 {
    color: red;
}

.c9 {
    color: yellow;
}

.c10 {
    color: green;
}

.para6 {
    background-color: black;
    color: white;
    padding-bottom: 30px;
    margin-top: -20px;
    padding-top: 10px;
}