.ordersucful {
  text-align: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  .orderparent1 {
    box-shadow: 3px 3px 5px 2px black;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 100px;
  }
  .orderlable {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(193, 20, 112);
    padding: 30px;
    border: 2px solid;
    border-radius: 50%;
    font-size: 30px;
  }
  input {
    padding: 10px;
    color: black;
    border: none;
  }
  button a{
    
    color: black;
    text-decoration-line: none;
  }
  button{
    padding: 10px;
    border: none;
  }
  input:hover {
    background-color: rgb(193, 20, 112);
    color: white;
  }
  button:hover {
    background-color: rgb(193, 20, 112);
    color: white;
  }
}
